/*<editor-fold desc="Image Button">*/
.image-button {
    position: absolute;
}

.image-button:hover {
    filter: brightness(.95);
}

.image-button:active {
    filter: brightness(.9);
}

/*</editor-fold>*/

#placenode {
    top: 10px;
    right: 10px;
    width: 64px;
    height: 64px;
}

#connectnode {
    top: 10px;
    right: 100px;
    width: 64px;
    height: 64px;
}

#cancelbutton {
    top: 10px;
    right: 10px;
    width: 64px;
    height: 64px;
    visibility: hidden;
}

#playbutton {
    top: 10px;
    left: 10px;
    width: 64px;
    height: 64px;
}

#deletenode {
    visibility: hidden;
    top: 10px;
    right: 100px;
    width: 64px;
    height: 64px;
}

#movenode {
    visibility: hidden;
    top: 10px;
    right: 180px;
    width: 64px;
    height: 64px;
}

.slider {
    overflow-x: visible;
    overflow-y: visible;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    overflow-x: visible;
    overflow-y: visible;
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #52CF67;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    overflow-x: visible;
    overflow-y: visible;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider-container {
    position: absolute;
    top: 38px;
    left: 90px;
    width: 200px;
    height: auto;
    overflow-x: visible;
    overflow-y: visible;
}

#connection-settings {
    position: absolute;
    top: 500px;
    left: 500px;
    width: 200px;
    height: auto;
    overflow-x: visible;
    overflow-y: visible;
    visibility: hidden;
}

#connection-settings > input {
    float: left;
    width: 60%;
    margin-top: 8px;
}