* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

.unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: #2E393B;
}

.image-button {
    position: absolute;

}

.image-button:hover {
    filter: brightness(.95);
}

.image-button:active {
    filter: brightness(.9);
}

#placenode {
    top: 10px;
    right: 10px;
}

#connectnode {
    width: 64px;
    height: 64px;
    top: 10px;
    right: 100px;
}

#cancelbutton {
    top: 10px;
    right: 10px;
    visibility: hidden;
}

#playbutton {
    top: 10px;
    left: 10px;
    width: 64px;
    height: 64px;
}

#canvas {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background: #3F4948;
}